<h1 class="mt-4">
  <i class="fas fa-tachometer-alt"></i>
  Dashboard
</h1>

<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Dashboard</li>
</ol>

<%= render 'stats' %>
<%= render 'filters' %>

<div class="card mb-4">
  <div class="card-header"><i class="fas fa-table mr-1"></i>Service Requests</div>
  <div class="card-body">
    <%= render partial: 'list', locals: { service_requests: @service_requests } %>
  </div>
</div>
