<h1 class='mt-4'>
  <i class="fas fa-headset mr-1"></i>
  New Service Request
</h1>

<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item"><%= link_to 'Customers', customers_path %></li>
  <li class="breadcrumb-item"><%= link_to @customer.name, customer_path(@customer) %></li>
  <li class="breadcrumb-item">Service Requests</li>
  <li class="breadcrumb-item active">New</li>
</ol>

<%= render 'form', service_request: @service_request %>
