<div class="card mb-4">
  <div class="card-header"><i class="fas fa-user mr-1"></i>
    Profile
    <%= link_to edit_customer_path(@customer), class: "btn float-right btn-sm" do %>
      <i class="fas fa-edit"></i>
    <% end %>
  </div>
  <div class="card-body">
    <p>
      <strong><i class="fas fa-user"></i></strong>
      <%= @customer.name %>
    </p>

    <p>
      <strong><i class="fas fa-phone-alt"></i></strong>
      <%= @customer.primary_phone_no %>
    </p>

    <p>
      <strong><i class="fas fa-phone-alt"></i></strong>
      <%= @customer.secondary_phone_no %>
    </p>
  </div>
</div>
