<h1 class="mt-4">
  <span><i class="fas fa-users mr-1"></i>Customers</span>
  <span class="float-right"><%= link_to 'New Customer', new_customer_path, class: 'btn btn-primary' %></span>
</h1>

<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Customers</li>
</ol>

<%= render 'filters' %>

<%= render partial: 'customers/list', locals: { customers: @customers } %>
